// @import '../node_modules/bootstrap/scss/bootstrap';

$primary-100: #eb5e28;
$primary-200: #252422;
$primary-300: #403d39;
$primary-400: #ccc5b9;
$primary-500: #fffcf2;
$success: #4bb543;
$warning: #f99245;
$error: #bd1919;

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}
.App {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background: wheat;
    transition: background 150ms ease-in-out;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.errorMessage {
    color: $primary-500;
    text-align: center;
    padding: 1rem;
}

.hide {
    display: none;
}

nav {
    .navbar-brand{
        color:$primary-100;
        font-weight: bold;
        font-size: 1.8rem;

    }
    .navbar-toggler {
        color: $primary-100;

        &:hover {
            text-decoration: none;
            outline: none;
            color: $primary-100;
        }
        &:focus {
            text-decoration: none;
            outline: none;
        }
    }
    .navbar-nav{
    align-items: center;

        .nav-item{
            padding: 1rem;
            text-decoration: none;
            color: $primary-100;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.Productivity {
    form {
        width: 80%;
        margin: auto;
        padding: 2%;
        text-align: center;
        input {
            background: $primary-500;
            border: 0;
        }
        button {
            background: $primary-100;
            min-width: 150px;
            margin-left: 1%;
        }
    }
    .progressBar {
        max-width: 40%;
        margin: auto;
        margin-bottom: 1rem;
    }
}

.Todos {
    .todosList {
        .todoItem {
            max-width: 60vw;
            background: $primary-500;
            color: $primary-200;
            margin: auto;
            border-radius: 5px;
            margin-bottom: 2%;
            display: flex;
            // flex-flow:row wrap;
            align-items: center;
            padding: 0.5rem;
            justify-content: space-between;
            overflow-x: auto;
            
            input {
                color: $primary-200;
                padding: 1rem;
                list-style: none;
                flex: 0 1 80%;
                border: 0;
                outline: none;
                background: transparent;
                &:focus {
                    border: 0;
                    outline: none;
                    background: transparent;
                }
            }
            .control-icons {
                flex: 1 1 20%;
                display: flex;
                justify-content: flex-end;


                svg {
                    margin-left: 1rem;
                    cursor: pointer;
                }
            }
        }
        .paused {
            background: orange;
            color: white;
        }
    }
}
.CompleteTodos {
    color: $primary-500;
    .completedList {
        .todoItem {
            max-width: 60vw;
            background: $primary-400;
            color: $primary-300;
            margin: auto;
            border-radius: 5px;
            margin-bottom: 2%;
            display: flex;
            align-items: center;
            padding: 0.5rem;
            justify-content: space-between;
            &_new {
                background: pink;
            }
            li {
                color: $primary-200;
                padding: 1rem;
                list-style: none;
                flex: 0 1 80%;
                text-decoration: line-through;
            }
            .control-icons {
                flex: 0 1 20%;
                display: flex;
                justify-content: flex-end;

            color: $primary-100;
            svg {
                    margin-left: 1rem;
                    cursor: pointer;
                }
            }
        }
        .complete {
            background: $success;
        }
    }
}

.Footer {
    background: $primary-300;
    margin-top: auto;
    padding: 1rem;
    text-align: center;
    color: $primary-500;
}
